.intro {
  margin-top: 136px;

  &__container {
    height: 554px;
    justify-content: space-between;
    align-items: end;
  }

  &__left {
    display: flex;
    flex-direction: column;
    z-index: 10;
  }

  &__title {
    margin-bottom: 60px;
    width: 767px;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    color: #1a1930;
  }

  &__sbt {
    font-size: 30px;
    line-height: 42px;
    color: #2d2b5c;
    margin-bottom: 52px;
  }

  &__btn {
    width: 217px;
    margin-bottom: 140px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__bcg {
    position: absolute;
    right: -36px;
    top: -232px;
    z-index: 6;
  }
}
